# Env for client side
VITE_APP_NAME="Inosys"
VITE_SITE_URL="http://localhost:3000"

# Env Database
DATABASE_URL="postgres://localhost:5432/postgres?sslmode=require"

# Env Better Auth
BETTER_AUTH_SECRET="secret_key_for"
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app
VITE_AUTH_LOGIN_URL="/login" # URL for login page
VITE_IS_AUTH_URL="/dashboard" # URL for authenticated page (after login)
